@import url('../../themes/colors.css');

.tf_modal_bottom_container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: auto;
    background-color: #2e323f;
}

.tf_modal_bottom_fullScreen_container {
    height: 100vh;
    overflow-y: scroll;
    background-color: #2e323f;
}

.ad_modal {
    background-color: #2e323f;
}
